{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js.js' %}"></script>
    <title>Document</title>
</head>
<header>
  <nav class="navbar">
{#    <a href="{% url 'index' %}" class="nav-button">მთავარი</a>#}
{#      {% if request.user.is_authenticated %}#}
{#				<div class="nav--login nav--but" >#}
{#					<a href="{% url 'user_logout' %}"><div class="nav-button"> {{ request.user.username }}#}
{#                        გასვლა</div></a>#}
{#				</div>#}
{#      {% else %}#}
{#    <a href="{% url 'user_login' %}" class="nav-button">შესვლა</a>#}
{##}
{#{% endif %}#}

  </nav>
</header>
<body>
    <div class="bodyDiv">
        <div class="leftDiv">

            <div class="filterDivs" style="padding-bottom: 60px"> <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="user1"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="UserPass"><br><br>
            <button  class="filterItem" type="submit">Login</button>
            </form>
            <textarea  id="token" style="height: 200px"></textarea>
             <div id="response"></div>
          </div>

            <div class="">
                 <h1>Create User</h1>
                <form id="userIdentForm">
                    <label for="username">Username:</label>
                    <input type="text" id="usernameCreate" name="username" value="user1" required><br><br>

                    <label for="password">Password:</label>
                    <input type="password" id="passwordCreate" name="password" value="UserPass" required><br><br>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="ikakopa1985@gmail.com" required><br><br>

                    <label for="firstname">First Name:</label>
                    <input type="text" id="firstname" name="firstname" value=" firstname" required><br><br>

                    <label for="lastname">Last Name:</label>
                    <input type="text" id="lastname" name="lastname" value=" lastname" required><br><br>

                    <label for="full_name">Full Name:</label>
                    <input type="text" id="full_name" name="full_name" value=" full name" required><br><br>

                    <label for="personal_number">Personal Number:</label>
                    <input type="text" id="personal_number" name="personal_number" value=" 2892829" required><br><br>

                    <label for="birth_date">Birth Date:</label>
                    <input type="date" id="birth_date" name="birth_date" required><br><br>

                    <button class="filterItem" type="submit">Create UserIdent</button>
                </form>
            </div>


        </div>
        {% block content %}{% endblock %}
    </div>

</body>

</html>