{% extends "base.html" %}


{% block content %}
    <div class="centralDiv">
        <div><br>
            <h1 style="color: #990000">'please LOG IN  and   then REFRESH PAGE'</h1>
            <h2 style="color: #990000">'admin user: admin,  password:admin'</h2>
             <br>
                 <div class="">
                     <br>
                     <form id="getTestForm" action="" onsubmit="return false">
                         <input type="checkbox" id="logicChekbox" name="logic" value="">&nbsp
                         <label for="logicChekbox">ლოგიკურები</label> &nbsp &nbsp
                         <input type="checkbox" id="mathChekbox" name="math" value="">&nbsp
                         <label for="mathChekbox">მათემატიკურები</label> &nbsp
                         <button id="submitGetTests" type="submit">ფილტრი</button>
                     </form>
            <br>
            <fieldset id="" style="padding:15px">
                <legend id="testText"></legend>
                <div id="testImageContainer"></div>
                <br>
                <div id="radioButtonsContainer"></div>
                <br>
                <div>
                    <button id="submitAnswer" type="submit">Submit</button>

            </fieldset>



            <br>
             <div style="width: 70%"  >
                <p>response</p>
                <textarea style="width:1000px;height: 615px" id="responseApi"></textarea>
            </div>
    </div>
        </div>

    </div>

{% endblock %}

